<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Raftar Formula Racing</title>
    
    
    <link rel="stylesheet" href="../css/normalize.css">

    <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css'>
<link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css'>

        <link rel="stylesheet" href="../css/style.css">

<link rel="shortcut icon" href="../img/favicon.ico">
    
    
    
  </head>

  <body>

  <nav class="navbar navbar-inverse" id="nav" style = "background-color:black;">
  <div class="container-fluid">
    <div class="navbar-header">
        <a href="../index.html"><img src="../img/logo.jpg" id="logo"></a>
    </div>
    <div>
      <ul class="nav navbar-nav" id="navbar">
        <li><a href="../index.html">HOME</a></li>
        <li><a href="aboutus.html">ABOUT US</a></li>
        <li><a href="rfr16.html">CARS</a></li> 
        <li><a href="media.html">MEDIA</a></li>
        <li><a href="sponsors.html">SPONSORS</a></li>
        <li><a href="team.html">TEAM</a></li>
        <li><a href="contactus.html">CONTACT US</a></li>
      </ul>
    </div>
  </div>
</nav>

<div id="ndtv">
<p>NDTV</p><br>
<iframe width="820" height="415" src="https://www.youtube.com/embed/rXxkx-vge-k" frameborder="0" allowfullscreen ></iframe>
</div>

<div id="ndtv">
<p>News7</p><br>
<iframe width="820" height="415" src="https://www.youtube.com/embed/90q6ouqiaFY" frameborder="0" allowfullscreen></iframe>
</div>

<div id="toi">
<p>Times of India</p><br>
<iframe width="820" height="960" src="http://timesofindia.indiatimes.com/city/chennai/IIT-M-students-set-for-motor-race-with-indigenous-redesigned-car/articleshow/50545289.cms" frameborder="0" allowfullscreen ></iframe>
</div>

<div id="toi">
<p>The Hindu</p><br>
<iframe width="820" height="960" src="http://www.thehindubusinessline.com/news/variety/desi-boys-with-a-need-for-speed/article6155739.ece" frameborder="0" allowfullscreen ></iframe>
</div>

<!-- Delete This -->
<footer class="info">
  <a href="http://cfi.iitm.ac.in/">CFI IITM</a> | <a href="http://iitm.ac.in/">IIT Madras</a> | <a href="http://www.facebook.com/raftar.iitm/">Follow us on Facebook</a><br><br>
  <p>Raftar Formula Racing, IIT Madras</p>
</footer>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js'></script>

        <script src="../js/index.js"></script>

    
    
    
  </body>
</html>
