<!DOCTYPE html>
<html >
<head>
<meta charset="UTF-8">
<title>Raftar Formula Racing</title>


<link rel="stylesheet" href="../css/normalize.css">

<link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css'>
<link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css'>

<link rel="stylesheet" href="../css/style.css">


<link rel="shortcut icon" href="../img/favicon.ico">

</head>

<body>

<nav class="navbar navbar-inverse" id="nav" style = "background-color:black;">
<div class="container-fluid">
<div class="navbar-header">
<a href="../index.html"><img src="../img/logo.jpg" id="logo"></a>
</div>
<div>
<ul class="nav navbar-nav" id="navbar">
<li><a href="../index.html">HOME</a></li>
<li><a href="aboutus.html">ABOUT US</a></li>
<li><a href="rfr16.html">CARS</a></li> 
<li><a href="media.html">MEDIA</a></li>
<li><a href="sponsors.html">SPONSORS</a></li>
<li><a href="team.html">TEAM</a></li>
<li><a href="contactus.html">CONTACT US</a></li>  
</ul>
</div>
</div>
</nav>


<h2 style="margin: 25px;
font-family: Calibri;
font-weight: 600;
text-align: center;">RFR 16</h2>

<div class="row" style="text-align:center">
<img src="../img/top.jpg" style="max-width:60%;padding:20px;">
<img src="../img/photo15.jpg" style="max-width:60%;padding:20px;">
</div>

<div style="font-size: 25px; margin: 30px; font-weight:600;">Technical Specifications</div>


<table class="table" id = "specstable">
<tr>
<td style="color: grey">Car number</td>
<td>Formula Student India #10</td>
</tr>
<tr>
<td style="color: grey">Chassis</td>
<td>Tubular Space Frame<br>Cold drawn seamless MS tubes</td>
</tr>
<tr>
<td style="color: grey">Body</td>
<td>Carbon Fibre Reinforced Plastics</td>
</tr>
<tr>
<td style="color: grey">Wheels</td>
<td>10 inch Keizer Aluminum Rims and Center plates</td>
</tr>
<tr>
<td style="color: grey">Tyres</td>
<td>Hoosier 18x10x6 racing slicks<br>Compound : R25B</td>
</tr>

<tr>
<td style="color: grey">Engine</td>
<td>Honda CBR250R</td>
</tr>

<tr>
<td style="color: grey">Fuel Type</td>
<td>RON 98</td>
</tr>

<tr>
<td style="color: grey">Power</td>
<td>26 BHP @ 8500 rpm</td>
</tr>

<tr>
<td style="color: grey">Torque</td>
<td>22 Nm @ 7500 rpm</td>
</tr>

<tr>
<td style="color: grey">Brakes</td>
<td>Front : 8 button floating cast iron rotors ; GP200 wilwood callipers<br>
Rear :  6 button floating cast iron rotors ; GP200 wilwood callipers</td>
</tr>

<tr>
<td style="color: grey">Suspension</td>
<td>Front : Pull rod actuated double a-arm suspension ; U-type ARB with 4 tuning adjustments ; Motion ratio : Progressive<br>
Rear : Push rod actuated double a-arm suspension ; U-type ARB with 3 tuning adjustments ; Motion ratio : Regressive
</td>
</tr>

<tr>
<td style="color: grey">Ergonomics</td>
<td>Steering wheel mounted paddle shifters<br>
Carbon Fiber reclined seat<br>
6 point schroth harness</td>
</tr>

<tr>
<td style="color: grey">Transmission</td>
<td>Drexler limited slip differential with adjustable torque bias<br>
Custom made tripod housings Al 6061 T6<br>
6 speed sequential gearbox<br>
FDR : 3.81</td>
</tr>
</table>
<!-- RFR 16 ends -->
<!-- RFR 15 -->
<h2 style="margin: 25px;
    font-family: Calibri;
    font-weight: 600;
    text-align: center;">RFR 15</h2>

<div class="row" style="text-align:center">
<img src="../img/photo2.jpg" style="max-width:60%;padding:20px;">
  <img src="../img/rfr15front.jpg" style="max-width:60%;padding:20px;">
</div>

<div style="font-size: 25px; margin: 30px; font-weight:600;">Technical Specifications</div>


<table class="table" id = "specstable">
<tr>
  <td style="color: grey">Car number</td>
  <td> Formula Student Germany 2014 & Formula Student India 2015 #99</td>
</tr>
<tr>
  <td style="color: grey">Chassis</td>
  <td>Tubular Space Frame<br>Cold drawn seamless MS tubes</td>
</tr>
<tr>
  <td style="color: grey">Body</td>
  <td>Carbon Fibre Reinforced Plastics</td>
</tr>
<tr>
  <td style="color: grey">Wheels</td>
  <td>10 inch Keizer Aluminum Rims and Center plates</td>
</tr>
<tr>
  <td style="color: grey">Tyres</td>
  <td>Hoosier 19.5x10x6<br>Compound : R25B </td>
</tr>

<tr>
  <td style="color: grey">Engine</td>
  <td>Honda CBR250R</td>
</tr>

<tr>
  <td style="color: grey">Fuel Type</td>
  <td>RON 98</td>
</tr>

<tr>
  <td style="color: grey">Power</td>
  <td>23 BHP @ 8500 rpm</td>
</tr>

<tr>
<td style="color: grey">Torque</td>
<td>20 Nm @ 7500 rpm</td>
</tr>

<tr>
<td style="color: grey">Brakes</td>
<td>Front : GP200 Wilwood callipers; stainless stell fixed rotors<br>
   Rear :  GP200 Wilwood callipers; stainless stell fixed rotors</td>
</tr>

<tr>
<td style="color: grey">Suspension</td>
<td> Front : Push rod actuated double a-arm suspension ; U-type ARB with 6 tuning adjustments ; Motion ration : Progressive<br>
Rear : Push rod actuated double a-arm suspension ; U-type ARB with 6 tuning adjustments ; Motion ratio : Progressive
</td>
</tr>

<tr>
<td style="color: grey">Ergonomics</td>
<td> Reclined Carbon fiber seat<br>
  6 point Schroth Harness 
</tr>

<tr>
<td style="color: grey">Transmission</td>
<td>Quaife LSD Differential with customised housing<br>
6 speed sequential gearbox<br>
FDR : 3.81
</tr>
</table>

<!-- RFR 15 ends -->
<!-- RFR 13 -->
<h2 style="margin: 25px;
    font-family: Calibri;
    font-weight: 600;
    text-align: center;">RFR 13</h2>

<div class="row" style="text-align:center">
<img src="../img/photo3.jpg" style="max-width:60%;padding:20px;">
  <img src="../img/photo4.jpg" style="max-width:60%;padding:20px;">
</div>

<div style="font-size: 25px; margin: 30px; font-weight:600;">Technical Specifications</div>


<table class="table" id = "specstable">
<tr>
  <td style="color: grey">Car number</td>
  <td>Formula Student Germany 2013 #18</td>
</tr>
<tr>
  <td style="color: grey">Chassis</td>
  <td>Tubular Space Frame<br>Cold drawn seamless MS tubes</td>
</tr>
<tr>
  <td style="color: grey">Body</td>
  <td>Glass fiber reinforced plastics</td>
</tr>
<tr>
  <td style="color: grey">Wheels</td>
  <td>13 inch Braid rims</td>
</tr>
<tr>
  <td style="color: grey">Tyres</td>
  <td>JK street tires</td>
</tr>

<tr>
  <td style="color: grey">Engine</td>
  <td>Honda CBR250R</td>
</tr>

<tr>
  <td style="color: grey">Fuel Type</td>
  <td>RON 98</td>
</tr>

<!-- <tr>
<td style="color: grey">Brakes</td>
<td>Front : GP200 Wilwood callipers; stainless stell fixed rotors<br>
   Rear :  GP200 Wilwood callipers; stainless stell fixed rotors</td>
</tr> -->

<tr>
<td style="color: grey">Suspension</td>
<td> F Front : Push rod actuated double a-arm suspension  ; Motion ration : Progressive <br>
Rear : Push rod actuated double a-arm suspension  ; Motion ratio : Progressive</td>
</tr>

<tr>
<td style="color: grey">Ergonomics</td>
<td> Upright positioned GFRP seat<br>
5 point Sparco harness
</tr>

<tr>
<td style="color: grey">Transmission</td>
<td>Quaife LSD Differential with customised housing<br>
6 speed sequential gearbox<br>
   FDR : 3.81
</tr>
</table>
<!-- Delete This -->
<footer class="info">
<a href="http://cfi.iitm.ac.in/">CFI IITM</a> | <a href="http://iitm.ac.in/">IIT Madras</a> | <a href="http://www.facebook.com/raftar.iitm/">Follow us on Facebook</a><br><br>
<p>Raftar Formula Racing, IIT Madras</p>
</footer>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js'></script>

<script src="../js/index.js"></script>




</body>
</html>
