<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Raftar Formula Racing</title>
    
    
    <link rel="stylesheet" href="../css/normalize.css">

    <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css'>
<link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css'>

        <link rel="stylesheet" href="../css/style.css">
<link rel="shortcut icon" href="../img/favicon.ico">
    
    
    
  </head>

  <body>

  <nav class="navbar navbar-inverse" id="nav" style = "background-color:black;">
  <div class="container-fluid">
    <div class="navbar-header">
        <a href="../index.html"><img src="../img/logo.jpg" id="logo"></a>
    </div>
    <div>
      <ul class="nav navbar-nav" id="navbar">
         <li><a href="../index.html">HOME</a></li>
        <li><a href="aboutus.html">ABOUT US</a></li>
        <li><a href="rfr16.html">CARS</a></li> 
        <li><a href="media.html">MEDIA</a></li>
        <li><a href="sponsors.html">SPONSORS</a></li>
        <li><a href="team.html">TEAM</a></li>
        <li><a href="contactus.html">CONTACT US</a></li>  
      </ul>
    </div>
  </div>
</nav>

<h3 style="text-align:center; font-weight: 700; padding:10px;">OUR SPONSORS</h3>

<p>

<!-- <ul style="list-style-type:none; text-align:center" >
<li> <img src="../img/sponsors/al.png" style="max-width:35%; padding: 25px; max-height:150px;"></li>
<li> <img src="../img/sponsors/ather.png" style="max-width:35%; padding: 25px; max-height:150px;"></a></li>
<li> <img src="../img/sponsors/behr.jpg" style="max-width:35%; padding: 25px; max-height:150px;"></a></li>
<li> <img src="../img/sponsors/bil.jpg" style="max-width:35%; padding: 25px; max-height:150px;"></a></li>
<li> <img src="../img/sponsors/chrysler.png" style="max-width:35%; padding: 25px; max-height:150px;"></a></li>
<li> <img src="../img/sponsors/fiat.png" style="max-width:35%; padding: 25px; max-height:150px;"></a></li>
<li> <img src="../img/sponsors/honda.png" style="max-width:35%; padding: 25px; max-height:150px;"></a></li>
<li> <img src="../img/sponsors/iar.png" style="max-width:35%; padding: 25px; max-height:150px;"></a></li>
<li> <img src="../img/sponsors/keiser.png" style="max-width:35%; padding: 25px; max-height:150px;"></a></li>
<li> <img src="../img/sponsors/tel.gif" style="max-width:35%; padding: 25px; max-height:150px;"></a></li>
<li> <img src="../img/sponsors/textreme.png" style="max-width:35%; padding: 25px; max-height:150px;"></a></li>
<li> <img src="../img/sponsors/tvs.png" style="max-width:35%; padding: 25px; max-height:150px;"></a></li>
<li> <img src="../img/sponsors/vimana.png" style="max-width:35%; padding: 25px; max-height:150px;"></a></li>
<li> <img src="../img/sponsors/wilwood.jpg" style="max-width:35%; padding: 25px; max-height:150px;"></a></li>
</ul>
   -->

<div class="row">
  <div class="col-md-4" style="text-align:center"><a href="http://www.atherenergy.com/"><img src="../img/sponsors/ather.png" style="max-width:50%; margin: 25px;"></a></div>
  <div class="col-md-4" style="text-align:center"><a href="http://www.brakesindia.com/"><img src="../img/sponsors/bil.jpg" style="max-width:50%; margin: 25px;"></a></div>
  <div class="col-md-4" style="text-align:center"><a href="http://www.hyundai.com/in/en/Main/index.html"><img src="../img/sponsors/hyundai.jpg" style="max-width:50%; margin: 25px;"></a></div>
  
</div>


<div class="row">
  <div class="col-md-4" style="text-align:center"><a href="http://www.honda2wheelersindia.com/"><img src="../img/sponsors/honda.png" style="max-width:50%; margin: 25px;"></a></div>
  <div class="col-md-4" style="text-align:center"><a href="http://www.oir.iitm.ac.in/iar-team/"><img src="../img/sponsors/iar.png" style="max-width:50%; margin: 25px;"></a></div>
  <div class="col-md-4" style="text-align:center"><a href="http://keizerwheels.com/"><img src="../img/sponsors/keiser.png" style="max-width:50%; margin: 75px;"></a></div> 
</div>

<div class="row">
  <div class="col-md-4" style="text-align:center"><a href="http://www.turboenergy.co.in/"><img src="../img/sponsors/tel.gif" style="max-width:50%; margin: 25px;"></a></div>
  <div class="col-md-4" style="text-align:center"><a href="http://www.textreme.com/"><img src="../img/sponsors/textreme.png" style="max-width:50%; margin: 25px;"></a></div>
  <div class="col-md-4" style="text-align:center"><a href="http://www.tvsmotor.com/"><img src="../img/sponsors/tvs.png" style="max-width:50%; margin: 25px;"></a></div> 
</div>

<div class="row">
  <div class="col-md-4" style="text-align:center"><a href="http://www.systeminsights.com/"><img src="../img/sponsors/vimana.png" style="max-width:50%; margin: 25px;"></a></div>
  <div class="col-md-4" style="text-align:center"><a href="http://www.wilwood.com/"><img src="../img/sponsors/wilwood.jpg" style="max-width:50%; margin: 25px;"></a></div>
  <div class="col-md-4" style="text-align:center"><a href="http://earthxmotorsports.com/"><img src="../img/sponsors/earthx.jpg" style="max-width:50%; margin: 25px;"></a></div>
</div>

<div class="row">
<div class="col-md-4" style="text-align:center"><a href="http://www.calspan.com/"><img src="../img/sponsors/calspan.png" style="max-width:50%; margin: 25px;"></a></div>
<div class="col-md-4" style="text-align:center"><a href="https://www.hoosiertire.com/index.htm"><img src="../img/sponsors/hoosier.png" style="max-width:50%; margin: 25px;"></a></div>
<div class="col-md-4" style="text-align:center"><a href="http://stadvancedcomposites.in/"><img src="../img/sponsors/st.png" style="max-width:50%; margin: 25px;"></a></div>
</div>

<!-- <div class="row">
<div class="col-md-4" style="text-align:center"><a href="http://www.calspan.com/"><img src="../img/sponsors/calspan.png" style="max-width:50%; margin: 25px;"></a></div>
<div class="col-md-4" style="text-align:center"><a href="https://www.hoosiertire.com/index.htm"><img src="../img/sponsors/hoosier.png" style="max-width:50%; margin: 25px;"></a></div>
<div class="col-md-4" style="text-align:center"><a href="http://stadvancedcomposites.in/"><img src="../img/sponsors/st.png" style="max-width:50%; margin: 25px;"></a></div>
</div> -->

<div class="row">
  <div class="col-md-4" style="text-align:center"><a href="http://www.ashokleyland.com/"><img src="../img/sponsors/al.png" style="max-width:50%; margin: 25px;"></a></div>
  <div class="col-md-4" style="text-align:center"><a href="hhttp://www.chrysler.com/en/"><img src="../img/sponsors/chrysler.png" style="max-width:50%; margin: 25px;"></a></div>
  <div class="col-md-4" style="text-align:center"><a href="http://www.fiat-india.com/"><img src="../img/sponsors/fiat.png" style="max-width:50%; margin: 25px;"></a></div> 
</div>

<div class="row">
<div class="col-md-4" style="text-align:center"><a href="http://www.asaphardwaresolutions.inonline.biz/"><img src="../img/sponsors/asap.jpg" style="max-width:50%; margin: 25px;"></a></div>
<div class="col-md-4" style="text-align:center"><a href="http://tuskertees.com/"><img src="../img/sponsors/tusker.jpg" style="max-width:50%; margin: 25px;"></a></div>
<!-- <div class="col-md-4" style="text-align:center"><a href="http://stadvancedcomposites.in/"><img src="../img/sponsors/st.png" style="max-width:50%; margin: 25px;"></a></div>
 --></div>

</p>


<!-- Delete This -->
<footer class="info">
  <a href="http://cfi.iitm.ac.in/">CFI IITM</a> | <a href="http://iitm.ac.in/">IIT Madras</a> | <a href="http://www.facebook.com/raftar.iitm/">Follow us on Facebook</a><br><br>
  <p>Raftar Formula Racing, IIT Madras</p>
</footer>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js'></script>

        <script src="../js/index.js"></script>

    
    
    
  </body>
</html>
